<!doctype html><p align=center><font size=+1 color=red>Desenvolvido por Daniel Alves</font></p>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
		
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel Materiais edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Voltar à Lista</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="materiais_view.php?{$editlink}" {$view_page_button_attrs}>Exibir</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Nome_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Nome}  r-vertical-field" 
	data-signal-error-for="Nome{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Nome" data-fieldname="Nome" >

	<label class="r-edit-label control-label" for="{$labelfor_Nome}">
		{BEGIN Nome_label}{$label Materiais Nome }{END Nome_label}
	</label>
	<div class="r-edit-field">
		{$Nome_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Nome">
		<div class="text-muted" >
		{$tooltip Materiais Nome }		</div>
	</div>
</div>


{END Nome_fieldblock}
											
{BEGIN Valor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Valor}  r-vertical-field" 
	data-signal-error-for="Valor{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Valor" data-fieldname="Valor" >

	<label class="r-edit-label control-label" for="{$labelfor_Valor}">
		{BEGIN Valor_label}{$label Materiais Valor }{END Valor_label}
	</label>
	<div class="r-edit-field">
		{$Valor_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Valor">
		<div class="text-muted" >
		{$tooltip Materiais Valor }		</div>
	</div>
</div>


{END Valor_fieldblock}
											
{BEGIN Quantidade_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Quantidade}  r-vertical-field" 
	data-signal-error-for="Quantidade{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Quantidade" data-fieldname="Quantidade" >

	<label class="r-edit-label control-label" for="{$labelfor_Quantidade}">
		{BEGIN Quantidade_label}{$label Materiais Quantidade }{END Quantidade_label}
	</label>
	<div class="r-edit-field">
		{$Quantidade_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Quantidade">
		<div class="text-muted" >
		{$tooltip Materiais Quantidade }		</div>
	</div>
</div>


{END Quantidade_fieldblock}
											
{BEGIN Codfornecedor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Codfornecedor}  r-vertical-field" 
	data-signal-error-for="Codfornecedor{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Codfornecedor" data-fieldname="Codfornecedor" >

	<label class="r-edit-label control-label" for="{$labelfor_Codfornecedor}">
		{BEGIN Codfornecedor_label}{$label Materiais Codfornecedor }{END Codfornecedor_label}
	</label>
	<div class="r-edit-field">
		{$Codfornecedor_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Codfornecedor">
		<div class="text-muted" >
		{$tooltip Materiais Codfornecedor }		</div>
	</div>
</div>


{END Codfornecedor_fieldblock}
											
{BEGIN CodCategoria_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CodCategoria}  r-vertical-field" 
	data-signal-error-for="CodCategoria{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="CodCategoria" data-fieldname="CodCategoria" >

	<label class="r-edit-label control-label" for="{$labelfor_CodCategoria}">
		{BEGIN CodCategoria_label}{$label Materiais CodCategoria }{END CodCategoria_label}
	</label>
	<div class="r-edit-field">
		{$CodCategoria_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CodCategoria">
		<div class="text-muted" >
		{$tooltip Materiais CodCategoria }		</div>
	</div>
</div>


{END CodCategoria_fieldblock}
											
{BEGIN Descricao_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Descricao}  r-vertical-field" 
	data-signal-error-for="Descricao{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Descricao" data-fieldname="Descricao" >

	<label class="r-edit-label control-label" for="{$labelfor_Descricao}">
		{BEGIN Descricao_label}{$label Materiais Descricao }{END Descricao_label}
	</label>
	<div class="r-edit-field">
		{$Descricao_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Descricao">
		<div class="text-muted" >
		{$tooltip Materiais Descricao }		</div>
	</div>
</div>


{END Descricao_fieldblock}
											
{BEGIN CodPontoColeta_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CodPontoColeta}  r-vertical-field" 
	data-signal-error-for="CodPontoColeta{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="CodPontoColeta" data-fieldname="CodPontoColeta" >

	<label class="r-edit-label control-label" for="{$labelfor_CodPontoColeta}">
		{BEGIN CodPontoColeta_label}{$label Materiais CodPontoColeta }{END CodPontoColeta_label}
	</label>
	<div class="r-edit-field">
		{$CodPontoColeta_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CodPontoColeta">
		<div class="text-muted" >
		{$tooltip Materiais CodPontoColeta }		</div>
	</div>
</div>


{END CodPontoColeta_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Salvar			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Voltar à Lista			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancela			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Limpar		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="materiais_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		Exibir		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
